.nav-item{
    text-decoration: none;
    color: whitesmoke;
    margin-left: 10px;
    margin: 0.5rem;
    position: relative;
    align-items: center;


}
.img{
    background: none;
    border: none ;
    cursor:pointer;
    outline: inherit;
    width: 6%;
    margin: left 1400px;
   
}