.navbar{
    display: flex;
}
.itemlist{
    position: absolute;
    right: 60pc;
   
}
.nav-item{
    text-decoration: none;
    color: whitesmoke;
    margin-left: 10px;
    margin: 0.5rem;
    position: center;
    align-items: center;


}
.img{
    background: none;
    border: none ;
    cursor:pointer;
    outline: inherit;
    width: 6%;
    position: absolute;
    right: 0;
   
}